<h1>User login</h1>

<form method="POST" action="/auth/login">
  <label for="username">
    <input type="text" name="username" value="" id='username'>
  </label>
  <label for="password">
    <input type="password" name="password" value="">
  </label>
  <input type="submit">
</form>
